*{
    margin:10px;
    border:0;
    box-sizing: border-box;
    
}

li{
    cursor:pointer;
    border:1px solid red;
}

.left .display,.opr .top,.opr .display,.left,.right,.opr{
    border:1px solid red;
}

body{
    display:flex;
    justify-content: center;
}