*{
    margin:10px;
    border:0;
    box-sizing: border-box;
    
}

body{
    display:flex;
    justify-content: center;
}

li{
    cursor:pointer;
    border:1px solid red;
}

.left .display,.opr .top,.opr .display,.left,.right,.opr{
    border:1px solid red;
}

.display ,.top{
    padding-left: 10px;
    padding-right: 10px;

}

.left{
    width:10%;
}
.right{
    width:10%;
}
.opr{
    width:40%;
}

body .bottom{
    position: absolute;
    top:-15px;
}